extends ../layout

block content
  h1.text-2xl.font-bold.mb-8= title
  form(method='POST' action="/categories")
    .mb-6.flex.flex-col.gap-2
      label(for='name' class="text-slate-500 uppercase text-xs") Name:
      input#name.border.border-grey-500.rounded-lg.px-2.py-1(
        type='text',
        placeholder='Keyboards, Lubing Stations etc.'
        name='name'
        required
        value=(undefined===category ? '' : category.name) )
    .mb-6.flex.flex-col.gap-2
      label(for='description' class="text-slate-500 uppercase text-xs") Description:
      textarea#description.border.border-grey-500.rounded-lg.px-2.py-1(
        placeholder='A brief description of the category'
        name='description'
        required)= undefined===category ? '' : category.description
    button.rounded-lg.border.border-grey-500.py-1.px-2.mb-6(type='submit' class="hover:bg-gray-300") Submit
    if errors
      ul
        for error in errors
          li!= error.msg
