extends ../layout
block content
  h1.text-2xl.font-bold.mb-8= title
  .flex.justify-between.flex-col(class="md:flex-row")
    div
      p.mb-2 #[strong Description:] !{item.description}
      p.mb-2 #[strong Price:] !{item.price} $
      p.mb-2 #[strong Pieces Available:] !{item.number_in_stock}
    if item.img.includes('http')
      img.rounded-xl.border-2(src=item.img alt=item.name class="w-[300px] sm:w-[40%]" style="border-color: #C39C4E;")
  hr.my-2
  p.my-4 #[strong Category: ]
    a(href=item.category.url)= item.category.name
  hr.my-2
  p.my-4
    a.rounded-lg.border.border-grey-500.py-1.px-2.mb-6(href=item.url+'/edit' style="background-color: #C39C4E; color: #FFFFFF;") Edit item
  p.my-4
    a.rounded-lg.border.border-grey-500.py-1.px-2.mb-6(href=item.url+'/delete' style="background-color: #C39C4E; color: #FFFFFF;") Delete item
