doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // delete before go to prod
    script(src="https://cdn.tailwindcss.com")
    link(href="/stylesheets/styles.css", rel="stylesheet")
  body.w-screen.h-screen.bg-gray-100.grid.place-items-center
    div(class="flex bg-white shadow-xl h-full max-w-5xl w-full p-4 gap-6")
        div(class="w-[12rem] flex flex-col gap-2")
          a(href="/categories" class=currentRoute === "/categories" ? "font-bold underline decoration-2" : "") All categories
          a(href="/categories/create" class=currentRoute === "/categories/create" ? "font-bold underline decoration-2" : "") Create new category
          hr
          a(href="/items" class=currentRoute === "/items" ? "font-bold underline decoration-2" : "") All items
          a(href="/items/create" class=currentRoute === "/items/create" ? "font-bold underline decoration-2" : "") Create new item
        .flex-grow
          block content

